ctx = '.news-item__footer'
media-query-extra-small = 320px
media-query-small = 768px
media-query-medium = 1200px

{ctx} {

  .news-item_type_wide &
  {
    padding 16px 11px 15px 11px
  }

  &::before,
  &::after
  {
    display table
    content ' '
  }

  &::after
  {
    clear both
  }
}

/*Extra Small*/
@media (min-width media-query-extra-small) and (max-width media-query-small)
{
  {ctx} {

    .news-item_type_wide &
    {
      padding 16px 11px 15px 11px
    }

  }
}
/*Small*/
@media (min-width media-query-small)
{
  {ctx} {

    .news-item_type_wide &
    {
      padding 16px 20px 15px
    }

  }
}