media-query-extra-small = 320px
media-query-small = 768px
media-query-medium = 1200px
ctx = '.container'

{ctx} {
  max-width 320px
  margin-left auto
  margin-right auto
  padding-left 5px
  padding-right 5px
}

/*Extra Small*/
@media (min-width media-query-extra-small)
{
  {ctx}{
    max-width 320px
    padding-left 5px
    padding-right 5px
  }
}

/*Small*/
@media (min-width media-query-small)
{
  {ctx} {
    max-width 730px
    padding-left 18px
    padding-right 18px
  }
}
/*Medium*/
@media (min-width media-query-medium)
{
  {ctx} {
    max-width 1110px
    margin-left auto
    margin-right auto
    padding-left 30px
    padding-right 30px
  }
}