.search__button
{
  position absolute
  right 0
  top 0
  overflow hidden
  box-sizing: content-box;
  width 21px
  height 22px
  margin-left 10px
  padding 2px
  font-size 22px
  color #000
  vertical-align top
}