ctx = '.news-item__date'
media-query-extra-small = 320px
media-query-small = 768px
media-query-medium = 1200px

{ctx} {
  position absolute
  left 62px
  float none
  font-size 10px

  .news-item_type_wide &
  {
    top 10px
  }

  .news-item_type_narrow &
  {
    top 5px
  }
}

/*Extra Small*/
@media (min-width media-query-extra-small) and (max-width media-query-small)
{
  {ctx} {


  }
}

/*Small*/
@media (min-width media-query-small)
{
  {ctx} {
    position static
    float: right;
    margin-top: 2px;
    font-size: 12px;
  }
}