media-query-extra-small = 320px
media-query-small = 768px
media-query-medium = 1200px
ctx = '.columns__aside-right'

{ctx} {
  display none
}

/*Extra Small*/
@media (min-width media-query-extra-small)
{
  {ctx}{
    display none
  }
}

/*Small*/
@media (min-width media-query-small)
{
  {ctx}{
    display none
  }
}
/*Medium*/
@media (min-width media-query-medium)
{
  {ctx}{
    display block
  }
}