.p-news-item
{
  padding 20px 18px
  cursor pointer

  & + &
  {
    border: solid #f5f5f5;
    border-width: 2px 0 0;
  }

  &::before{
    display: table;
    content: " ";
  }
  &::after{
    clear both
    display: table;
    content: " ";
  }

}