ctx = '.news-item__time2read'
media-query-extra-small = 320px
media-query-small = 768px
media-query-medium = 1200px

{ctx} {
  position absolute
  display block

  left 62px
  top 30px
}

/*Extra Small*/
@media (min-width media-query-extra-small) and (max-width media-query-small)
{
  {ctx} {
    position absolute
    display block

    left 62px
    top 30px

  }
}

/*Small*/
@media (min-width media-query-small)
{
  {ctx} {
    position static
    display inline-block

  }
}