ctx = '.header__settings'
media-query-extra-small = 320px
media-query-small = 768px
media-query-medium = 1200px

{ctx} {
  position absolute
  right 0
  top 2px
  display block
  width 22px
  height 22px
  padding 0
  font-size 21px
  line-height 1
  overflow: hidden
}

/*Extra Small*/
@media (min-width media-query-extra-small)
{
  {ctx}{
    display block
  }
}

/*Small*/
@media (min-width media-query-small)
{
  {ctx} {
    display none
  }
}

/*Medium*/
@media (min-width media-query-medium)
{
  {ctx} {
    display none
  }
}