.news-item__related_narrow
{
  float left

  & .related__link
  {
    margin-left 0
    margin-right 22px
    opacity .5

    &:hover
    {
      text-decoration none
    }
  }

  & .related__count
  {
    color #6e6e6e
  }

}