ctx = '.header__search'
media-query-extra-small = 320px
media-query-small = 768px
media-query-medium = 1200px

{ctx} {
  float right
  position relative
  margin 12px 0 0 0
}

/*Extra Small*/
@media (min-width media-query-extra-small)
{
  {ctx}{
    margin 12px 0 0 0
  }
}

/*Small*/
@media (min-width media-query-small)
{
  {ctx} {
    margin 44px 0 0 0
  }
}

/*Medium*/
@media (min-width media-query-medium)
{
  {ctx} {
    margin 44px 18px 0 0
  }
}