ctx = '.search_header'
media-query-extra-small = 320px
media-query-small = 768px
media-query-medium = 1200px

{ctx} {
  position absolute
  right 38px
  top 0
  height 26px
}

{ctx} {

}

/*Extra Small*/
@media (min-width media-query-extra-small)
{
  {ctx}{
    right 38px
  }
}

/*Small*/
@media (min-width media-query-small)
{
  {ctx} {
    right 0
  }
}

/*Medium*/
@media (min-width media-query-medium)
{
  {ctx} {
    right 0
  }
}