ctx = '.news-item__introtext'
media-query-extra-small = 320px
media-query-small = 768px
media-query-medium = 1200px

{ctx} {
  margin-top 12px
  padding 0 11px 20px 11px
  font-weight 300

  & p
  {
    margin 0 0 0
  }
  & p + p
  {
    margin 1em 0 0
  }
}

/*Extra Small*/
@media (min-width media-query-extra-small) and (max-width media-query-small)
{
  {ctx} {

    .news-item_type_wide &
    {
      padding-left 11px
      padding-right 11px
    }

  }
}
/*Small*/
@media (min-width media-query-small)
{
  {ctx} {

    padding 0 20px 20px

  }
}