.offcanvas__left-menu
{
  min-height: 432px;
  margin-top 118px
  margin-left -4px

  & .link
  {
    display inline-block
    margin-bottom 7px
    padding 7px 14px
    letter-spacing .1em
    font-family inherit
    font-size 16px
    line-height 1
    color #222
    text-transform uppercase
    text-decoration none
    &.link_hovered{
      text-decoration underline
    }
  }


}