.offcanvas__overlay
{
  position absolute
  left 0
  top 0
  background-color rgba(255, 255, 255, .1)
  transition background-color .3s
  .offcanvas_show-left_true &,
  .offcanvas_show-right_true &
  {
    width 100%
    height 100%
    content ' '
    background-color rgba(0, 0, 0, .1)
    z-index 90
  }
}