ctx = '.row__col'
namespaces = (xs sm md lg)
columns = 12
cols = (1..columns)
gridGutterWidth = 30px

media-query-extra-small = 320px
media-query-small = 768px
media-query-medium = 1200px
/*media-query-large = 1200px*/

/*common*/
{ctx} {
  box-sizing border-box
}

for namespace in namespaces
  for col in cols
    {ctx}_{namespace}_{col} {
      position relative
      min-height 1px
      padding-right (gridGutterWidth / 2)
      padding-left (gridGutterWidth / 2)
    }

col-float(namespace)
  for col in cols
    {ctx}_{namespace}_{col} {
      float left
    }

col-width(namespace)
  for col in cols
    {ctx}_{namespace}_{col} {
      width (100 * col / columns)%
      /*width s('calc(%s% - %s)', 100 * col / columns, gridGutterWidth)*/
    }

make-grid(namespace)
  col-float(namespace)
  col-width(namespace)

/*Extra small*/
make-grid(xs)
/*.row__col_xs-pull_12 {
  right 100%
}
.row__col_xs-pull_11 {
  right 91.66666667%
}
.row__col_xs-pull_10 {
  right 83.33333333%
}
.row__col_xs-pull_9 {
  right 75%
}
.row__col_xs-pull_8 {
  right 66.66666667%
}
.row__col_xs-pull_7 {
  right 58.33333333%
}
.row__col_xs-pull_6 {
  right 50%
}
.row__col_xs-pull_5 {
  right 41.66666667%
}
.row__col_xs-pull_4 {
  right 33.33333333%
}
.row__col_xs-pull_3 {
  right 25%
}
.row__col_xs-pull_2 {
  right 16.66666667%
}
.row__col_xs-pull_1 {
  right 8.33333333%
}
.row__col_xs-pull_0 {
  right auto
}
.row__col_xs-push_12 {
  left 100%
}
.row__col_xs-push_11 {
  left 91.66666667%
}
.row__col_xs-push_10 {
  left 83.33333333%
}
.row__col_xs-push_9 {
  left 75%
}
.row__col_xs-push_8 {
  left 66.66666667%
}
.row__col_xs-push_7 {
  left 58.33333333%
}
.row__col_xs-push_6 {
  left 50%
}
.row__col_xs-push_5 {
  left 41.66666667%
}
.row__col_xs-push_4 {
  left 33.33333333%
}
.row__col_xs-push_3 {
  left 25%
}
.row__col_xs-push_2 {
  left 16.66666667%
}
.row__col_xs-push_1 {
  left 8.33333333%
}
.row__col_xs-push_0 {
  left auto
}
.row__col_xs-offset_12 {
  margin-left 100%
}
.row__col_xs-offset_11 {
  margin-left 91.66666667%
}
.row__col_xs-offset_10 {
  margin-left 83.33333333%
}
.row__col_xs-offset_9 {
  margin-left 75%
}
.row__col_xs-offset_8 {
  margin-left 66.66666667%
}
.row__col_xs-offset_7 {
  margin-left 58.33333333%
}
.row__col_xs-offset_6 {
  margin-left 50%
}
.row__col_xs-offset_5 {
  margin-left 41.66666667%
}
.row__col_xs-offset_4 {
  margin-left 33.33333333%
}
.row__col_xs-offset_3 {
  margin-left 25%
}
.row__col_xs-offset_2 {
  margin-left 16.66666667%
}
.row__col_xs-offset_1 {
  margin-left 8.33333333%
}
.row__col_xs-offset_0 {
  margin-left 0
}*/

/*Small*/
@media (min-width media-query-small)
  make-grid(ms)

/*Medium*/
@media (min-width media-query-medium)
  make-grid(md)


/*
@media (min-width 768px) {
  .row__col_sm_1, .row__col_sm_2, .row__col_sm_3, .row__col_sm_4, .row__col_sm_5, .row__col_sm_6, .row__col_sm_7, .row__col_sm_8, .row__col_sm_9, .row__col_sm_10, .row__col_sm_11, .row__col_sm_12 {
    float left
  }
  .row__col_sm_12 {
    width 100%
  }
  .row__col_sm_11 {
    width 91.66666667%
  }
  .row__col_sm_10 {
    width 83.33333333%
  }
  .row__col_sm_9 {
    width 75%
  }
  .row__col_sm_8 {
    width 66.66666667%
  }
  .row__col_sm_7 {
    width 58.33333333%
  }
  .row__col_sm_6 {
    width 50%
  }
  .row__col_sm_5 {
    width 41.66666667%
  }
  .row__col_sm_4 {
    width 33.33333333%
  }
  .row__col_sm_3 {
    width 25%
  }
  .row__col_sm_2 {
    width 16.66666667%
  }
  .row__col_sm_1 {
    width 8.33333333%
  }
  .row__col_sm-pull_12 {
    right 100%
  }
  .row__col_sm-pull_11 {
    right 91.66666667%
  }
  .row__col_sm-pull_10 {
    right 83.33333333%
  }
  .row__col_sm-pull_9 {
    right 75%
  }
  .row__col_sm-pull_8 {
    right 66.66666667%
  }
  .row__col_sm-pull_7 {
    right 58.33333333%
  }
  .row__col_sm-pull_6 {
    right 50%
  }
  .row__col_sm-pull_5 {
    right 41.66666667%
  }
  .row__col_sm-pull_4 {
    right 33.33333333%
  }
  .row__col_sm-pull_3 {
    right 25%
  }
  .row__col_sm-pull_2 {
    right 16.66666667%
  }
  .row__col_sm-pull_1 {
    right 8.33333333%
  }
  .row__col_sm-pull_0 {
    right auto
  }
  .row__col_sm-push_12 {
    left 100%
  }
  .row__col_sm-push_11 {
    left 91.66666667%
  }
  .row__col_sm-push_10 {
    left 83.33333333%
  }
  .row__col_sm-push_9 {
    left 75%
  }
  .row__col_sm-push_8 {
    left 66.66666667%
  }
  .row__col_sm-push_7 {
    left 58.33333333%
  }
  .row__col_sm-push_6 {
    left 50%
  }
  .row__col_sm-push_5 {
    left 41.66666667%
  }
  .row__col_sm-push_4 {
    left 33.33333333%
  }
  .row__col_sm-push_3 {
    left 25%
  }
  .row__col_sm-push_2 {
    left 16.66666667%
  }
  .row__col_sm-push_1 {
    left 8.33333333%
  }
  .row__col_sm-push_0 {
    left auto
  }
  .row__col_sm-offset_12 {
    margin-left 100%
  }
  .row__col_sm-offset_11 {
    margin-left 91.66666667%
  }
  .row__col_sm-offset_10 {
    margin-left 83.33333333%
  }
  .row__col_sm-offset_9 {
    margin-left 75%
  }
  .row__col_sm-offset_8 {
    margin-left 66.66666667%
  }
  .row__col_sm-offset_7 {
    margin-left 58.33333333%
  }
  .row__col_sm-offset_6 {
    margin-left 50%
  }
  .row__col_sm-offset_5 {
    margin-left 41.66666667%
  }
  .row__col_sm-offset_4 {
    margin-left 33.33333333%
  }
  .row__col_sm-offset_3 {
    margin-left 25%
  }
  .row__col_sm-offset_2 {
    margin-left 16.66666667%
  }
  .row__col_sm-offset_1 {
    margin-left 8.33333333%
  }
  .row__col_sm-offset_0 {
    margin-left 0
  }
}
@media (min-width 992px) {
  .row__col_md_1, .row__col_md_2, .row__col_md_3, .row__col_md_4, .row__col_md_5, .row__col_md_6, .row__col_md_7, .row__col_md_8, .row__col_md_9, .row__col_md_10, .row__col_md_11, .row__col_md_12 {
    float left
  }
  .row__col_md_12 {
    width 100%
  }
  .row__col_md_11 {
    width 91.66666667%
  }
  .row__col_md_10 {
    width 83.33333333%
  }
  .row__col_md_9 {
    width 75%
  }
  .row__col_md_8 {
    width 66.66666667%
  }
  .row__col_md_7 {
    width 58.33333333%
  }
  .row__col_md_6 {
    width 50%
  }
  .row__col_md_5 {
    width 41.66666667%
  }
  .row__col_md_4 {
    width 33.33333333%
  }
  .row__col_md_3 {
    width 25%
  }
  .row__col_md_2 {
    width 16.66666667%
  }
  .row__col_md_1 {
    width 8.33333333%
  }
  .row__col_md-pull_12 {
    right 100%
  }
  .row__col_md-pull_11 {
    right 91.66666667%
  }
  .row__col_md-pull_10 {
    right 83.33333333%
  }
  .row__col_md-pull_9 {
    right 75%
  }
  .row__col_md-pull_8 {
    right 66.66666667%
  }
  .row__col_md-pull_7 {
    right 58.33333333%
  }
  .row__col_md-pull_6 {
    right 50%
  }
  .row__col_md-pull_5 {
    right 41.66666667%
  }
  .row__col_md-pull_4 {
    right 33.33333333%
  }
  .row__col_md-pull_3 {
    right 25%
  }
  .row__col_md-pull_2 {
    right 16.66666667%
  }
  .row__col_md-pull_1 {
    right 8.33333333%
  }
  .row__col_md-pull_0 {
    right auto
  }
  .row__col_md-push_12 {
    left 100%
  }
  .row__col_md-push_11 {
    left 91.66666667%
  }
  .row__col_md-push_10 {
    left 83.33333333%
  }
  .row__col_md-push_9 {
    left 75%
  }
  .row__col_md-push_8 {
    left 66.66666667%
  }
  .row__col_md-push_7 {
    left 58.33333333%
  }
  .row__col_md-push_6 {
    left 50%
  }
  .row__col_md-push_5 {
    left 41.66666667%
  }
  .row__col_md-push_4 {
    left 33.33333333%
  }
  .row__col_md-push_3 {
    left 25%
  }
  .row__col_md-push_2 {
    left 16.66666667%
  }
  .row__col_md-push_1 {
    left 8.33333333%
  }
  .row__col_md-push_0 {
    left auto
  }
  .row__col_md-offset_12 {
    margin-left 100%
  }
  .row__col_md-offset_11 {
    margin-left 91.66666667%
  }
  .row__col_md-offset_10 {
    margin-left 83.33333333%
  }
  .row__col_md-offset_9 {
    margin-left 75%
  }
  .row__col_md-offset_8 {
    margin-left 66.66666667%
  }
  .row__col_md-offset_7 {
    margin-left 58.33333333%
  }
  .row__col_md-offset_6 {
    margin-left 50%
  }
  .row__col_md-offset_5 {
    margin-left 41.66666667%
  }
  .row__col_md-offset_4 {
    margin-left 33.33333333%
  }
  .row__col_md-offset_3 {
    margin-left 25%
  }
  .row__col_md-offset_2 {
    margin-left 16.66666667%
  }
  .row__col_md-offset_1 {
    margin-left 8.33333333%
  }
  .row__col_md-offset_0 {
    margin-left 0
  }
}
@media (min-width 1200px) {
  .row__col_lg_1, .row__col_lg_2, .row__col_lg_3, .row__col_lg_4, .row__col_lg_5, .row__col_lg_6, .row__col_lg_7, .row__col_lg_8, .row__col_lg_9, .row__col_lg_10, .row__col_lg_11, .row__col_lg_12 {
    float left
  }
  .row__col_lg_12 {
    width 100%
  }
  .row__col_lg_11 {
    width 91.66666667%
  }
  .row__col_lg_10 {
    width 83.33333333%
  }
  .row__col_lg_9 {
    width 75%
  }
  .row__col_lg_8 {
    width 66.66666667%
  }
  .row__col_lg_7 {
    width 58.33333333%
  }
  .row__col_lg_6 {
    width 50%
  }
  .row__col_lg_5 {
    width 41.66666667%
  }
  .row__col_lg_4 {
    width 33.33333333%
  }
  .row__col_lg_3 {
    width 25%
  }
  .row__col_lg_2 {
    width 16.66666667%
  }
  .row__col_lg_1 {
    width 8.33333333%
  }
  .row__col_lg-pull_12 {
    right 100%
  }
  .row__col_lg-pull_11 {
    right 91.66666667%
  }
  .row__col_lg-pull_10 {
    right 83.33333333%
  }
  .row__col_lg-pull_9 {
    right 75%
  }
  .row__col_lg-pull_8 {
    right 66.66666667%
  }
  .row__col_lg-pull_7 {
    right 58.33333333%
  }
  .row__col_lg-pull_6 {
    right 50%
  }
  .row__col_lg-pull_5 {
    right 41.66666667%
  }
  .row__col_lg-pull_4 {
    right 33.33333333%
  }
  .row__col_lg-pull_3 {
    right 25%
  }
  .row__col_lg-pull_2 {
    right 16.66666667%
  }
  .row__col_lg-pull_1 {
    right 8.33333333%
  }
  .row__col_lg-pull_0 {
    right auto
  }
  .row__col_lg-push_12 {
    left 100%
  }
  .row__col_lg-push_11 {
    left 91.66666667%
  }
  .row__col_lg-push_10 {
    left 83.33333333%
  }
  .row__col_lg-push_9 {
    left 75%
  }
  .row__col_lg-push_8 {
    left 66.66666667%
  }
  .row__col_lg-push_7 {
    left 58.33333333%
  }
  .row__col_lg-push_6 {
    left 50%
  }
  .row__col_lg-push_5 {
    left 41.66666667%
  }
  .row__col_lg-push_4 {
    left 33.33333333%
  }
  .row__col_lg-push_3 {
    left 25%
  }
  .row__col_lg-push_2 {
    left 16.66666667%
  }
  .row__col_lg-push_1 {
    left 8.33333333%
  }
  .row__col_lg-push_0 {
    left auto
  }
  .row__col_lg-offset_12 {
    margin-left 100%
  }
  .row__col_lg-offset_11 {
    margin-left 91.66666667%
  }
  .row__col_lg-offset_10 {
    margin-left 83.33333333%
  }
  .row__col_lg-offset_9 {
    margin-left 75%
  }
  .row__col_lg-offset_8 {
    margin-left 66.66666667%
  }
  .row__col_lg-offset_7 {
    margin-left 58.33333333%
  }
  .row__col_lg-offset_6 {
    margin-left 50%
  }
  .row__col_lg-offset_5 {
    margin-left 41.66666667%
  }
  .row__col_lg-offset_4 {
    margin-left 33.33333333%
  }
  .row__col_lg-offset_3 {
    margin-left 25%
  }
  .row__col_lg-offset_2 {
    margin-left 16.66666667%
  }
  .row__col_lg-offset_1 {
    margin-left 8.33333333%
  }
  .row__col_lg-offset_0 {
    margin-left 0
  }
}*/
