ctx = '.sitename'

{ctx} {
  position relative
  left 0
  margin 0
  text-align center
  font-family 'Montserrat', san-serif
  font-size 22px
  transition left .3s
}

/*Small*/
@media (min-width media-query-extra-small)
{
  {ctx} {
    font-size 22px
  }
}

/*Small*/
@media (min-width media-query-small)
{
  {ctx} {
    font-size 36px
  }
}
/*Medium*/
@media (min-width media-query-medium)
{
  {ctx} {
    font-size 36px
  }
}