ctx = '.news-item__title'
media-query-extra-small = 320px
media-query-small = 768px
media-query-medium = 1200px

{ctx} {
  margin -2px 0 0
  padding 10px 0 0 0!important
  font-family inherit
  font-size 24px
  line-height 1
  font-weight 300

}

/*Extra Small*/
@media (min-width media-query-extra-small) and (max-width media-query-small)
{
  {ctx}{
    padding 10px 0 0 0!important
  }
}

/*Small*/
@media (min-width media-query-small)
{
  {ctx} {
    padding-left 60px

    .news-item_type_wide & {
      padding-right 70px
    }
  }
}

/*Medium*/
@media (min-width media-query-medium)
{
  {ctx} {

  }
}