.sources
{

  display block

  & .checkbox
  {
    float left
    display block
    margin-top 6px
    margin-right 12px
    width 62px
    cursor pointer
  }

  & .checkbox__box
  {
    display none
  }


  &::before{
    display: table;
    content: " ";
  }
  &::after{
    clear both
    display: table;
    content: " ";
  }

}