ctx = '.offcanvas__left'
{ctx} {
  & {
    box-sizing border-box
    position absolute
    left -300px
    top 0
    width 300px
    height 100%
    padding: 45px
    transition left .3s
    background-color #fff
    overflow-x hidden
    overflow-y auto
    z-index 100
  }
  .offcanvas_show-left_true & {
    left 0
  }
}