.source__icon
{
  display block
  box-sizing border-box
  height 62px
  padding 11px

  font-size 40px
  line-height 40px
  color #fff

  text-align center

  .checkbox_checked &
  {
    padding 8px
    border 3px solid #000
  }
}