.columns__fresh-items
{
  margin-top 15px
  padding 11px 10px 10px
  font-family inherit
  font-size 12px
  line-height 1
  font-weight 800
  color rgba(0, 0, 0, .4)
  background-color #fff
  text-align center
  text-transform uppercase
}