ctx = '.news-item__header'
media-query-extra-small = 320px
media-query-small = 768px
media-query-medium = 1200px

{ctx} {

  padding 20px 11px 0 11px

  &::before,
  &::after
  {
    display table
    content ' '
  }

  &::after
  {
    clear both
  }
}

/*Extra Small*/
@media (min-width media-query-extra-small)
{
  {ctx}{
    padding 20px 11px 0 11px
  }
}

/*Small*/
@media (min-width media-query-small)
{
  {ctx} {
    padding 20px 11px 0 20px
  }
}

/*Medium*/
@media (min-width media-query-medium)
{
  {ctx} {
    padding 20px 11px 0 20px
  }
}