ctx = '.news-item__stats'
media-query-extra-small = 320px
media-query-small = 768px
media-query-medium = 1200px

{ctx} {
  display: inline-block;
  margin-left 113px
  height: 22px;
  vertical-align: top;
  font-size: 17px;
}

/*Extra Small*/
@media (min-width media-query-extra-small) and (max-width media-query-small)
{
  {ctx} {

    .news-item_type_wide &
    {
      margin-right -21px
      margin-left auto
      float right
    }

  }
}

/*Small*/
@media (min-width media-query-small)
{
  {ctx} {

    .news-item_type_wide &
    {
      margin-left 55px
    }

  }
}

/*Medium*/
@media (min-width media-query-medium)
{
  {ctx} {

    .news-item_type_wide &
    {
      margin-left 113px
    }

  }
}