ctx = '.news-item__footer_narrow'
media-query-extra-small = 320px
media-query-small = 768px
media-query-medium = 1200px

{ctx} {
  padding 4px 10px 4px 20px
  background-color #ececec
}

/*Extra Small*/
@media (min-width media-query-extra-small) and (max-width media-query-small)
{
  {ctx} {

    padding-left 11px
    padding-right 11px

  }
}