media-query-extra-small = 320px
media-query-small = 768px
media-query-medium = 1200px
ctx = '.columns__control'

{ctx} {
  display none
  margin-right 14px
  opacity .5
  font-size 18px
  color #000
}

/*Extra Small*/
@media (min-width media-query-extra-small)
{
  {ctx}{
    display none
  }
}

/*Small*/
@media (min-width media-query-small)
{
  {ctx} {
    display block
  }
}
/*Medium*/
@media (min-width media-query-medium)
{
  {ctx} {
    display block
  }
}