ctx = '.news-item__second-line'
media-query-extra-small = 320px
media-query-small = 768px
media-query-medium = 1200px

{ctx} {
  position relative
  clear both
}

/*Extra Small*/
@media (min-width media-query-extra-small) and (max-width media-query-small)
{
  {ctx}{
    clear both
  }
}
/*Small*/
@media (min-width media-query-small)
{
  {ctx}{
    clear none
  }
}