ctx = '.header__sitename'

{ctx} {
  margin-top 12px
}

/*Extra Small*/
@media (min-width media-query-extra-small)
{
  {ctx}{
    margin-top 12px
  }
}

/*Small*/
@media (min-width media-query-small)
{
  {ctx} {
    margin-top 33px
  }
}
/*Medium*/
@media (min-width media-query-medium)
{
  {ctx} {
    margin-top 33px
  }
}
