ctx = '.news-item__bottom-line'
media-query-extra-small = 320px
media-query-small = 768px
media-query-medium = 1200px

{ctx} {
  padding 0 20px 15px
}

/*Extra Small*/
@media (min-width media-query-extra-small) and (max-width media-query-small)
{
  {ctx} {

    .news-item_type_narrow &
    {
      padding-left 11px
      padding-right 11px
    }

  }
}