ctx = '.news-item__actions'
media-query-extra-small = 320px
media-query-small = 768px
media-query-medium = 1200px

{ctx} {
  position absolute
  right 0
  top -48px
  font-size 22px
}

/*Extra Small*/
@media (min-width media-query-extra-small) and (max-width media-query-small)
{
  {ctx} {

    .news-item_type_wide &
    {
      top -48px
    }

  }
}

/*Small*/
@media (min-width media-query-small)
{
  {ctx} {

    .news-item_type_wide &
    {
      top 0
    }

  }
}