ctx = '.header__open-menu'

{ctx} {
  display block
  width 25px
  height 16px
  margin 18px 10px 16px 0
  font-size 16px
  color #000
}

/*Extra Small*/
@media (min-width media-query-extra-small)
{
  {ctx}{
    margin 18px 10px 16px 0
  }
}

/*Small*/
@media (min-width media-query-small)
{
  {ctx} {
    margin 47px 20px 47px 0
  }
}
/*Medium*/
@media (min-width media-query-medium)
{
  {ctx} {
    margin 47px 20px
  }
}

