ctx = '.news-item__related'
media-query-extra-small = 320px
media-query-small = 768px
media-query-medium = 1200px

{ctx} {
  float right

  & .related__link
  {
    margin-left 22px
  }

  .news-item_type_wide &
  {
    display none
  }
}

/*Extra Small*/
@media (min-width media-query-extra-small) and (max-width media-query-small)
{
  {ctx} {

    .news-item_type_wide &
    {
      display none
    }

  }
}
/*Small*/
@media (min-width media-query-small)
{
  {ctx} {

    .news-item_type_wide &
    {
      display block
    }

  }
}