.news-item__source-icon
{
  position relative
  float left
  width 46px
  height 46px
  margin-right 15px
  border 1px solid rgba(0, 0, 0, .1)
  background-color rgba(230, 230, 230, .1)

  & .image
  {
    display: block;
    margin: 17px auto;
    width: 90%;
    height auto
  }
}