.input
{
  display inline-block
}
.input__box
{
  display inline-block
}
.input__control
{
  padding: 2px
  font-family 'Open Sans', san-serif
  font-size 16px
  line-height 1
  border none

  &::-webkit-input-placeholder
  {
    font-size 14px
    padding 4px 10px
    color #b9b9b9
    text-indent 0
  }

  &::-moz-placeholder
  {
    opacity: 1;
    color: #999;
  }

}