@font-face {
    font-family: "nt-icon";
    src: url('./nt-icon.eot');
    src: url('./nt-icon.eot?#iefix') format('eot'),
    url('./nt-icon.woff') format('woff'),
    url('./nt-icon.ttf') format('truetype'),
    url('./nt-icon.svg#nt-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.nt-icon {
    display: inline-block;
    line-height 1
}

.nt-icon:before {
    display: inline-block;
    font-family: "nt-icon";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nt-icon_name_add:before { content: "\EA01" }
.nt-icon_name_close:before { content: "\EA02" }
.nt-icon_name_comments:before { content: "\EA03" }
.nt-icon_name_control-c:before { content: "\EA04" }
.nt-icon_name_control-cr:before { content: "\EA05" }
.nt-icon_name_control-lc:before { content: "\EA06" }
.nt-icon_name_control-lcr:before { content: "\EA07" }
.nt-icon_name_eye:before { content: "\EA08" }
.nt-icon_name_facebook:before { content: "\EA09" }
.nt-icon_name_github:before { content: "\EA0A" }
.nt-icon_name_lenta:before { content: "\EA0B" }
.nt-icon_name_like:before { content: "\EA0C" }
.nt-icon_name_on-topic:before { content: "\EA0D" }
.nt-icon_name_open-menu:before { content: "\EA0E" }
.nt-icon_name_rating:before { content: "\EA0F" }
.nt-icon_name_search:before { content: "\EA10" }
.nt-icon_name_share:before { content: "\EA11" }
.nt-icon_name_star:before { content: "\EA12" }
.nt-icon_name_twitter:before { content: "\EA13" }
.nt-icon_name_vk:before { content: "\EA14" }
.nt-icon_name_settings:before { content: "\EA15" }